.layout {
    min-height: 100vh;
    height: 1px;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 2;
    padding: 4rem var(--padding-inline-min) 3rem;
    background: url("../../images/png/square_bg.png") repeat;
}
.container {
    margin: 0 auto;
    max-width: var(--max-width);
}