.layout {
    min-height: 100vh;
    height: 1px;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 2;
    background: url("../../images/png/square_bg.png") repeat;
}
.container {
    margin: 0 auto;
    padding: 4rem var(--padding-inline-min) 3rem;
    background-color: #ffffff;
    height: 100%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
    max-width: calc(var(--max-width) + 2 * var(--padding-inline-min));
}