.header {
    height: var(--height-header);
    min-height: var(--height-header);
    background-color: var(--color-primary);
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    padding-inline: var(--padding-inline-min);
}
.content {
    margin: 0 auto;
    height: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: var(--color-primary-text);
}
.logo {
    color: inherit;
    width: 8rem;
    height: 4rem;
}