.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.page h1 {
    font-size: 4rem;
}
.page p {
    font-size: 2rem;
}
.page span {
    font-weight: 700;
    color: var(--color-error);
}